SERVER_BASE_SEPOLIA_RPC_URL=

MINTER_PRIVATE_KEY=

DOWNLOAD_MINTER_PK=

SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_RPC=

NEXT_PUBLIC_SUPABASE_URL=

NEXT_PUBLIC_SUPABASE_ANON_KEY=

NEXT_PUBLIC_ARTIST_ID=

NEXT_PUBLIC_MAGIC_PK=

NEXT_PUBLIC_ARTIST_FACTORY=

NEXT_PUBLIC_DEPLOYMENT_MODE=

BASESCAN_API_KEY=

FACTORY_ADDRESS=